:root {
  --primary-color: #106cc8;
}

* {
  font-family: 'Nunito', sans-serif;
}

/* class container max-width: 960px, center style */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header left and right */
.header {
  background-color: var(--primary-color);
  max-height: 50px;
}
